.lilita {
  font-family: Lilita One;
}

.bg-menu {
  background-color: #242e3c;
}

.bg-img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.navbar-toggler {
  background-color: #f8f9fa;
}
.bg-aqua {
  background-color: #14c7c4;
  border: none;
}

.text-aqua {
  color: #00fffb;
}
.text-branco:hover {
  color: #00fffb;
}
.text-branco {
  color: #f8f9fa;
}

.text-shadow {
  text-shadow: 3px 3px black;
}

.text-shadow-sm {
  text-shadow: 2px 2px black;
}

.lang {
  display: none;
}
.lang.active {
  display: inline;
}
